<p id="notice"><%= notice %></p>

<h1>Listing Tasks Lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks_lists.each do |tasks_list| %>
      <tr>
        <td><%= tasks_list.title %></td>
        <td><%= tasks_list.description %></td>
        <td><%= link_to 'Show', tasks_list %></td>
        <td><%= link_to 'Edit', edit_tasks_list_path(tasks_list) %></td>
        <td><%= link_to 'Destroy', tasks_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tasks list', new_tasks_list_path %>
